[submodule "pvsneslib"]
	path = pvsneslib
	url = https://github.com/Bensuperpc/pvsneslib-docker.git
[submodule "cc65"]
	path = cc65
	url = https://github.com/Bensuperpc/cc65-docker.git
[submodule "psn00bsdk"]
	path = psn00bsdk
	url = https://github.com/Bensuperpc/psn00bsdk-docker.git
[submodule "sgdk"]
	path = sgdk
	url = https://github.com/Stephane-D/SGDK.git
